body {
    margin: 0;
}

.header {
    width: 100%;
    background: lightgreen;
}
.sidebar {
    float: left;
    width: 200px;
    margin: 5px;
    border: 1px solid lightgreen;
}
.content {
    margin: 5px 5px 5px 210px;
    border: 1px solid lightcyan;
}
.footer {
    clear: both;
    width: 100%;
    background: lightgreen;
}
.product {
    min-height: 265px;
    //position: relative;
    & > p {
        margin-left: 210px; 
    }
    & > div {
        margin: 5px 5px 5px 5px;
        padding: 10px 10px 0 30px;
        float: left;
        img {
            max-width: 200px;
            max-height: 200px;
        }
    }
    .price {
        color: red;
    }
    .podrobno {
        display: inline;
    }
}


