body {
    margin: 0;
}

.header {
    width: 100%;
    background: lightgreen;
}
.sidebar {
    float: left;
    width: 200px;
    margin: 5px;
    border: 1px solid lightgreen;
}
.content {
    margin: 5px 5px 5px 210px;
    border: 1px solid lightcyan;
}
.footer {
    clear: both;
    width: 100%;
    background: lightgreen;
}
.product {
    min-height: 265px;
    //position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    & > p {
        margin-left: 230px; 
        margin-right: 5px;
    }
    & > div {
        margin: 5px 5px 5px 5px;
        //padding: 10px 10px 0 30px;
        float: left;
        //align-content: center;
        text-align: center;
        width: 220px;
        img {
            max-width: 200px;
            max-height: 200px;
            margin: 5px;
        }
    }
    .price {
        color: #FF4500;
        font-size: 16px;
    }
    .podrobno {
        display: inline;
        cursor: pointer;
    }
    big {
        padding-left: 3px; 
        color: #2A52BE;
    }

}


