body {
  margin: 0; }

.header {
  width: 100%;
  background: lightgreen; }

.sidebar {
  float: left;
  width: 200px;
  margin: 5px;
  border: 1px solid lightgreen; }

.content {
  margin: 5px 5px 5px 210px;
  border: 1px solid lightcyan; }

.footer {
  clear: both;
  width: 100%;
  background: lightgreen; }

.product {
  min-height: 265px; }
  .product > p {
    margin-left: 230px; }
  .product > div {
    margin: 5px 5px 5px 5px;
    float: left;
    text-align: center;
    width: 220px; }
    .product > div img {
      max-width: 200px;
      max-height: 200px; }
  .product .price {
    color: red; }
  .product .podrobno {
    display: inline; }
