body {
  margin: 0; }

.header {
  width: 100%;
  background: lightgreen; }

.sidebar {
  float: left;
  width: 200px;
  margin: 5px;
  border: 1px solid lightgreen; }

.content {
  margin: 5px 5px 5px 210px;
  border: 1px solid lightcyan; }

.footer {
  clear: both;
  width: 100%;
  background: lightgreen; }

.product {
  min-height: 265px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .product > p {
    margin-left: 230px;
    margin-right: 5px; }
  .product > div {
    margin: 5px 5px 5px 5px;
    float: left;
    text-align: center;
    width: 220px; }
    .product > div img {
      max-width: 200px;
      max-height: 200px;
      margin: 5px; }
  .product .price {
    color: #FF4500;
    font-size: 16px; }
  .product .podrobno {
    display: inline;
    cursor: pointer; }
  .product big {
    padding-left: 3px;
    color: #2A52BE; }
